.PortfolioBG{
    background-color: #ffffff;
}

.btn-Custom{
    color: black !important;
    background-color: #ffffff;
    border-color: #3a7dd5;
}
.btn-Custom:hover{
    color: white !important;
    background-color: #3a7dd5;
    border-color: #244f86
}
.btn-Custom:active{
    color: white !important;
    background-color: #108900;
    border-color: black;
}

.paginationCenter{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center !important;

}

.rc-pagination-item-active {
    background-color: #4497ff !important;
    border-color: #4a9429;
    color: white;
}
