.PortfolioBG{
    background-color: #ffffff;
}

.btn-Custom{
    color: black !important;
    background-color: #ffffff;
    border-color: #108900;
}
.btn-Custom:hover{
    color: white !important;
    background-color: #108900;
    border-color: black;
}
.btn-Custom:active{
    color: white !important;
    background-color: #108900;
    border-color: black;
}

.paginationCenter{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center !important;

}
