.mainLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.LogoFluid{
    width: auto;
    max-height: 130px;
}
.RobotoBOLD{
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
}
.Roboto{
    font-family: 'Roboto Slab', serif;

}

.BannerIcon{
    width: auto;
    height: 30px;

}
.IconRow{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.displayBlock{
    height: 142px;
}
@media (max-width: 576px) {
    .displayBlock{
        height: auto;
    }
}

.IconRow {
    display: flex;
    font-size: 0;
    flex-wrap:wrap;
    margin:-10px 0 0 -10px;
}
.headerIcon {
    display: inline-block;
    margin:10px 0 0 10px;
    flex-grow: 1;
    height:50px;
}


.Header{
    width:auto;
    max-height: 40px;
    margin : auto 6px;
}
@media (max-width: 576px) {

    .Header{
        width:auto;
        max-height: 40px;
        margin : auto auto;
    }
}

.Gradients{
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56ab2f, #108900); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56ab2f, #108900); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Particles{

    position: absolute;
    width: 100%;
    height: 100%;

}