.About{
    color: white;
    background: #108900;
    min-height: 500px;
}

.AboutIMG{
    width: auto;
    height: 150px;
    border-radius: 100px;
}
.CenterAbout{
    display: flex;
    align-items: center;
    justify-content: center;
}