.customCard{
    color:white;
    margin: auto;
    max-width: 200px;
    padding-top: 10px;
}
.CCard{
    border : none!important;
    background: #21252908 !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 10px !important;
}
.NOM{
    margin:0 !important;
}
.card-icon{
    background: white;
    height: auto;
    width: 100%;

}

.customCardWidth{
    max-width: 150px;
}

.svg-logo{
    margin: 15px auto 15px auto;
    background: #d2d2d2;
    border-radius: 60px;
    padding: 20px;
}